In [1]:
#write a program to  sum all the items in a list
list=[1,3,65,7,3,2,9]
sum=0
for i in list:
    sum=sum+i
print("sum of list ::",sum)

sum of list :: 90

In [2]:
#write a python program to multiplies all the items in a list
list=[1,3,65,7,3,2,9]
mul=1
for i in list:
    mul=mul*i
print("sum of list ::",mul)

sum of list :: 73710

In [1]:
#write a python program to get a list ,sorted in increasing order by the last element in each tuple from a given list of non-empty tuple
def last(n):
    return n[-1]
def sort_list_last(tuples):
    return sorted(tuples,key=last)
print(sort_list_last([(2,5),(1,2),(3,5),(4,2),(6,2)]))

[(1, 2), (4, 2), (6, 2), (2, 5), (3, 5)]

In [7]:
#write a python program to create a tuple
tuple=(1,2,3,8,3)
print(tuple)
type(tuple)

(1, 2, 3, 8, 3)

tuple

In [10]:
#write a python program to create a tuple with different data type
tuple=(1,2.3+2j,2.334,"hello")
print(tuple)
type(tuple)

(1, (2.3+2j), 2.334, 'hello')

tuple

In [11]:
#write a python program to check whether an element exists within a tuple
tuple=(1,2,4,7,"hello",2+4j,"eat")
if 3 in tuple:
    print("element is present in tuple")
else:
    print("element is not present in tuple")

element is not present in tuple

In [12]:
#write a python program to create a set
set={1,2,4,7,8}
print(set)
type(set)

{1, 2, 4, 7, 8}

set

In [1]:
#write a python program to iterate over sets
set={1,2,4,7,8}
print(set)
for i in set:
    print(i,end=" ")

{1, 2, 4, 7, 8}
1 2 4 7 8

In [4]:
#write a python program to create set difference
set_1={"blue","green","pink","yellow"}
set_2={"cyan","red","green","black","yellow"}
print("original sets are::")
print(set_1)
print(set_2)
difference=set_1.difference(set_2)
print("difference  btween first set and second set::",difference)
difference=set_2.difference(set_1)
print("difference between second and first set::",difference)

original sets are::
{'pink', 'yellow', 'blue', 'green'}
{'yellow', 'red', 'black', 'green', 'cyan'}
difference  btween first set and second set:: {'pink', 'blue'}
difference between second and first set:: {'black', 'red', 'cyan'}

In [8]:
#write a python script to sort (ascending and descending )a dictionary by values
dictionary={5:4,1:8,4:1}
sorted_dictionary={key: value for key, value in sorted(dictionary.items(), key=lambda item: item[1])}

print(sorted_dictionary)

{4: 1, 5: 4, 1: 8}

In [9]:
#write a python script to add a key to a dictionary
dictionary = {0:10, 1:20}
print(dictionary)
dictionary.update({2:30})
print(dictionary)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

In [19]:
#write a python program to iterate over dictionaries using for loop
dictionary={"salary1":30000,"salary2":10000,"salary3":40000,"salary4":20000}
for i in dictionary:
    print(i)

salary1
salary2
salary3
salary4

In [10]:
#setb
#write a python program to remove duplication from list
duplicate=[2,4,10,20,5,2,20,4]
print(list(set(duplicate)))

[2, 4, 5, 10, 20]

In [11]:
#write a python program to check a list is empty or not
list=['knowlage','practice','learn']
if len(list)>0 :
    print("non empty")
else:
    print("empty")

non empty

In [36]:
#write a python program to convert a list to a tuple
listx =[1, 2, 3, 4]
print(list)
tuple=tuple(listx)
print(tuple)

In [33]:
#write a python program to remove an item from a tuple
tuple=('learn','practice','knowlage')
print("tuple::",tuple)
tuple=tuple[:1]+tuple[2:]
print("after removing tuple is::",tuple)

tuple:: ('learn', 'practice', 'knowlage')
after removing tuple is:: ('learn', 'knowlage')

In [34]:
#write python program to slice a tuple
tuple=('learn','practice','knowlage','programming')
print(tuple[:3])
print(tuple[1])
print(tuple[2:])

('learn', 'practice', 'knowlage')
practice
('knowlage', 'programming')

In [35]:
#write a pytrhon program to find the length of tuple
tuple=('learn','practice','knowlage','programming')
print(len(tuple))

4

In [37]:
#write a python program to check if a set is a subset of another set
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = set(["mango"])
print("x: ",setx)
print("y: ",sety)
print("z: ",setz,"\n")
print("If x is subset of y")
print(setx <= sety)
print(setx.issubset(sety))
print("If y is subset of x")
print(sety <= setx)
print(sety.issubset(setx))
print("\nIf y is subset of z")
print(sety <= setz)
print(sety.issubset(setz))
print("If z is subset of y")
print(setz <= sety)
print(setz.issubset(sety))

x:  {'mango', 'apple'}
y:  {'mango', 'orange'}
z:  {'mango'}

If x is subset of y
False
False
If y is subset of x
False
False

If y is subset of z
False
False
If z is subset of y
True
True

In [43]:
#write a python program to find maximum and minimum value of set
set = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(set)
print(type(set))
print("\nMaximum value of the set:")
print(max(set))
print("\nMinimum value of the set:")
print(min(set))

In [44]:
#write a python program to find the length of set
set = {5, 10, 3, 15, 2, 20}
print(len(set))

6

In [46]:
#write a python script to generate and print a dictionary that contains a 
#number(between 1 and n) in the form(x,x*x)
n=input("enter a number::")
d=dict()
for i in range (i,n+1):
    d[i]=i*i
print(d)

In [48]:
#write a script to merge two dictionary
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'name': 'sita', 'age': 20}